<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" >
    <mat-card  >
    <mat-card-header>
      <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
    </mat-card-header>
      
      <img height="190px" width="300px" src={{dish.image}} alt={{dish.name}}>
     <mat-card-content>
        <p>{{dish.description}}</p>
     </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <mat-list >
        <h3>Comments</h3>
        <mat-list-item *ngFor="let comment of dish.comments">
          <h4 matLine>{{comment.comment}}</h4>
          <p matLine>{{comment.rating}} Stars</p>
          <p matLine>
            <span> --{{comment.author}} {{comment.date | date}}</span>
          </p>
        </mat-list-item>
    </mat-list>
  </div>
</div>
<div [hidden]="dish">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>